/* overrule the padding of the grid cells to be able to properly use icons */
.zarafa-searchgrid .x-grid3-cell-inner {
	padding: 0 3px 0 5px;
}
.zarafa-searchgrid .x-grid3-cell-inner td{
	padding-top: 3px;
	padding-bottom: 3px;
	height: 13px;
}

/* let css take care of fields that are too long */
.zarafa-searchgrid table.messageclass-data td,
.zarafa-searchgrid table.messageclass-data td div.padding{
	overflow: hidden;
}
.zarafa-searchgrid table.messageclass-data td.icon{
	width: 28px;
}
.zarafa-searchgrid table.messageclass-data td.name{
	width: 120px
}
/* some padding to have some space between the fields */
.zarafa-searchgrid table.messageclass-data td.name,
.zarafa-searchgrid table.messageclass-data .subject{
	padding-right: 12px;
}
/* a little less padding for the subject-body cell because the grid already applies 8px between the cells */
.zarafa-searchgrid table.messageclass-data td.subject-body{
	padding-right: 4px;
}

/* reposition the icon a little */
.zarafa-searchgrid td.icon{
	background-position: 1px center;
}

/*
.zarafa-searchgrid td.subject-body span.subject{
	padding-right: 20px;
}
*/
.zarafa-searchgrid td.subject-body span.body{
	opacity: 0.5;
}
