Source: kopano-webapp
Section: web
Priority: optional
Maintainer: Giraffe Maintainers <pkg-giraffe-maintainers@lists.alioth.debian.org>
Uploaders: Carsten Schoenert <c.schoenert@t-online.de>,
  Jelle van der Waa <j.vanderwaa@zarafa.com>
Build-Depends: ant,
  ant-optional,
  default-jdk,
  debhelper (>= 9.0.0),
  dh-apache2,
  dh-exec,
  gettext,
  liblocale-msgfmt-perl,
  libxml2-utils,
  php5-cli
Standards-Version: 3.9.8

Package: zarafa-webapp
Architecture: all
Depends: ${misc:Depends},
 apache2 | http,
 libapache2-mod-php5,
 php-gettext,
 php5-mapi (>= 7.1.11),
 ssl-cert,
 zarafa-contacts (>= 7.1.11)
Recommends: ${misc:Recommends},
  zarafa-server
Description: New and improved WebApp for the Zarafa Collaboration Platform
 Provides a web-client written in PHP that uses JSON and Ext JS to allow users
 to make full use of the Zarafa Collaboration Platform through a modern web
 browser. The functionality of the web-client can be expanded by various
 plugins.

Package: zarafa-webapp-browsercompatibility
Architecture: all
Depends: ${misc:Depends}, zarafa-webapp (>= ${binary:Version})
Description: Zarafa WebApp browser compatibility plugin
 This package is a plugin for zarafa-webapp, a web interface for the
 Zarafa groupware suite ZCP.
 .
 It extends the zarafa-webapp with a pop up on the screen if the current
 browser is not one of the supported browsers.

Package: zarafa-webapp-clockwidget
Architecture: all
Depends: ${misc:Depends}, zarafa-webapp (>= ${binary:Version})
Description: Zarafa WebApp clock plugin
 This package is a plugin for zarafa-webapp, a web interface for the
 Zarafa groupware suite ZCP.
 .
 The plugin extends the application's dashboard with a display of a clock.

Package: kopano-webapp-contactfax
Architecture: all
Depends: ${misc:Depends}, kopano-webapp (>= ${binary:Version})
Description: Kopano WebApp fax plugin
 This package is a plugin for kopano-webapp, a web interface for Kopano from
 Zarafa.
 .
 Expand the new "create mail" dialog with contact's fax number in the To:
 field of the email.

Package: zarafa-webapp-files
Architecture: all
Depends: ${misc:Depends}, zarafa-webapp (>= ${binary:Version}),
 php5-curl
Description: Zarafa WebApp files plugin
 This package is a plugin for zarafa-webapp, a web interface for the
 Zarafa groupware suite ZCP.
 .
 File management integration plugin for the zarafa-webapp, allows a user to
 browse, save and attach files from a file share backend. Supported backends
 are FTP and WebDav (for example Owncloud).

Package: kopano-webapp-folderwidgets
Architecture: all
Depends: ${misc:Depends}, kopano-webapp (>= ${binary:Version})
Description: Kopano WebApp folder widgets plugin
 This package is a plugin for kopano-webapp, a web interface for Kopano from
 Zarafa.
 .
 Folder widgets plugin for kopano-webapp. This is a collection of widgets which
 can show the contents of some of the default folders for a user.

Package: kopano-webapp-gmaps
Architecture: all
Depends: ${misc:Depends}, kopano-webapp (>= ${binary:Version})
Description: Kopano WebApp google maps plugin
 This package is a plugin for kopano-webapp, a web interface for Kopano from
 Zarafa.
 .
 Google Maps plugin for kopano-webapp, adds a new 'maps' tab in the contact
 details which displays the location of the contact by using Google Maps.

Package: zarafa-webapp-pimfolder
Architecture: all
Depends: ${misc:Depends}, zarafa-webapp (>= ${binary:Version})
Description: Zarafa WebApp personal inbox plugin
 This package is a plugin for zarafa-webapp, a web interface for the
 Zarafa groupware suite ZCP.
 .
 Expand zarafa-webapp by providing a button to quickly move messages to a
 certain folder in your inbox. This plug-in allows you to quickly move
 messages to a single, preconfigured folder. This makes it easier to work
 through your e-mails if you work with a "Getting Things Done" methodology.

Package: zarafa-webapp-quickitems
Architecture: all
Depends: ${misc:Depends}, zarafa-webapp (>= ${binary:Version})
Description: Zarafa WebApp quick items plugin
 This package is a plugin for zarafa-webapp, a web interface for the
 Zarafa groupware suite ZCP.
 .
 Quick Items plugin for zarafa-webapp. Adds special widgets to the WebApp which
 makes it easier to create new mails, appointments, contacts, tasks and notes.

Package: zarafa-webapp-titlecounter
Architecture: all
Depends: ${misc:Depends}, zarafa-webapp (>= ${binary:Version})
Description: Zarafa WebApp Titlecounter plugin
 This package is a plugin for zarafa-webapp, a web interface for the
 Zarafa groupware suite ZCP.
 .
 zarafa-webapp titlecounter plugin which shows the amount of unread inbox mail
 items in the browsers title window.

Package: zarafa-webapp-webappmanual
Architecture: all
Depends: ${misc:Depends}, zarafa-webapp (>= ${binary:Version})
Description: Zarafa WebApp Manual plugin
 This package is a plugin for zarafa-webapp, a web interface for the
 Zarafa groupware suite ZCP.
 .
 Adds a button in the top menu bar, which opens the user manual of the Zarafa
 WebApp.

Package: zarafa-webapp-xmpp
Architecture: all
Depends: ${misc:Depends}, zarafa-webapp (>= ${binary:Version}),
  libjs-jac
Description: Zarafa WebApp XMPP plugin
 This package is a plugin for zarafa-webapp, a web interface for the
 Zarafa groupware suite ZCP.
 .
 XMPP plugin for zarafa-webapp, implements a simple XMPP based chat client in
 the WebApp in the form of a widget.

Package: zarafa-webapp-zdeveloper
Architecture: all
Depends: ${misc:Depends}, zarafa-webapp (>= ${binary:Version})
Description: Zarafa WebApp developer plugin
 This package is a plugin for zarafa-webapp, a web interface for the
 Zarafa groupware suite ZCP.
 .
 Developer plugin for zarafa-webapp, exposes insertion points visually in the
 zarafa-webapp. Plugin is mostly useful for plugin developers.
