#!/usr/bin/make -f
INSTDIR=$(CURDIR)/debian/zarafa-webapp
WADEB=$(CURDIR)/debian/zarafa-webapp
WABASE=/usr/share/zarafa-webapp
WACONFBASE=/etc/zarafa/webapp
APACHECONFBASE=/etc/apache2/sites-available
WA=$(WADEB)$(WABASE)
PACKAGES=\
pdfbox \
pimfolder \
quickitems \
salesforce \
shellgame \
spreed \
statslogging \
sugarcrm \
titlecounter \
webappmanual \
webodf \
xmpp \
zdeveloper \
zperformance

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:

override_dh_auto_build:
	# linking some stuff from other packages
	# libjs-jac
	cd plugins/xmpp/ ;\
		rm -rf jsjac ;\
		ln -s /usr/share/javascript/jsjac
	# remove the license file from tinymce
	rm -f client/tinymce/license.txt
	# now let's build the stuff
	ant deploy deploy-plugins
	mkdir $(CURDIR)/debian/tmp
	cp -a $(CURDIR)/deploy $(CURDIR)/debian/tmp/

override_dh_auto_install:
	install -d -m 755 $(INSTDIR)$(WABASE)
	install -d -m 755 $(INSTDIR)$(APACHECONFBASE)
	install -d -m 755 $(INSTDIR)$(WACONFBASE)
	# user/group 33 is always www-data
	install -d -m 755 -o 33 -g 33 $(INSTDIR)/var/lib/zarafa-webapp/tmp

	cp -a deploy/* deploy/.htaccess $(INSTDIR)$(WABASE)/

	# echo version
	dpkg-parsechangelog --show-field Version > $(INSTDIR)$(WABASE)/version

	rm -rf $(INSTDIR)$(WABASE)/debian $(INSTDIR)/zarafa-webapp.spec

	mv $(INSTDIR)$(WABASE)/config.php.dist $(INSTDIR)$(WACONFBASE)/config.php
	ln -sf $(WACONFBASE)/config.php $(INSTDIR)$(WABASE)/config.php

	rm $(INSTDIR)$(WABASE)/debug.php.dist
	find $(INSTDIR)$(WABASE) -name \*debug\* -print0 | xargs -0 rm

	mv $(INSTDIR)$(WABASE)/zarafa-webapp.conf $(INSTDIR)$(APACHECONFBASE)/

	# packaging of plugins
	for i in ${PACKAGES}; do \
		P=$(CURDIR)/debian/zarafa-webapp-$$i$(WABASE)/plugins ; \
		Q=$(CURDIR)/debian/zarafa-webapp-$$i$(WACONFBASE) ; \
		mkdir -v -p $$P; \
		mv -v -f $(WA)/plugins/$$i $$P/ ; \
		if [ -f $$P/$$i/config.php ]; then \
			mkdir -v -p $$Q; \
			mv -v -f $$P/$$i/config.php $$Q/config-$$i.php ; \
			ln -sf $(WACONFBASE)/config-$$i.php $$P/$$i/config.php ; \
		fi \
	done

override_dh_install:
	dh_install
	# remove Facebook & Twitter things
	rm -rf $(CURDIR)/debian/zarafa-webapp/usr/share/zarafa-webapp/plugins/*
	# remove empty folders, please note README.source
	rm -rf $(CURDIR)/debian/zarafa-webapp-files/usr/share/zarafa-webapp/plugins/files/js/external
	rm -rf $(CURDIR)/debian/zarafa-webapp/usr/share/zarafa-webapp/plugins

override_dh_link:
	# remove the copied libjs-jac folder so dh_link can work
	rm -rf $(CURDIR)/debian/zarafa-webapp-xmpp/usr/share/zarafa-webapp/plugins/xmpp/jsjac
	dh_link

override_dh_fixperms:
	dh_fixperms -Xvar/lib/zarafa-webapp/tmp
