#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@ --with apache2

override_dh_auto_clean:

override_dh_auto_build:
	# remove not needed sabredav files
	rm -rf plugins/files/php/Files/sabredav/vendor/sabre
	# now let's build the stuff
	ant deploy deploy-plugins
	mkdir $(CURDIR)/debian/tmp
	cp -a $(CURDIR)/deploy $(CURDIR)/debian/tmp/

override_dh_install:
	dh_install
	# remove empty folders, please note README.source
	rm -rf $(CURDIR)/debian/kopano-webapp-files/usr/share/kopano-webapp/plugins/files/js/external
	# figure out package version
	dpkg-parsechangelog --show-field Version > \
		$(CURDIR)/debian/kopano-webapp-common/usr/share/kopano-webapp/version
	# remove files named *debug*.js
	find $(CURDIR)/debian/kopano-webapp-common/usr/share/kopano-webapp/ -name "*debug*.js" -print0 | xargs -0 rm

override_dh_fixperms:
	dh_fixperms -Xvar/lib/kopano-webapp/tmp
	chown www-data:www-data $(CURDIR)/debian/kopano-webapp-common/var/lib/kopano-webapp/tmp
